body#login {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position-y: bottom;
}

#modx-login-logo {
    text-align: center;
}

#container {
    position: absolute;
    margin: 0;
    width: 460px;
    transform: translate(-50%,-50%);
    top: 40%;
    left: 50%;
}

#modx-login-logo img {
    max-width: 180px;
    max-height: 150px;
    margin-bottom: 10px;
}

#modx-user-menu #client-logo {
    float: right;
    margin-left: 10px;
}

#modx-user-menu #client-logo img{
    max-height: 32px;
    margin-top: 11px;
}