/* Stylesheet for Sterc (narrowcasting). (c) Sterc.nl. All rights reserved. */

/* ----------------------------------------------------------------------------------------- */
/* ----- Basic overrides and resets -------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

@import url('reset.css');

/* ----------------------------------------------------------------------------------------- */
/* ----- Font Face ------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlCxe5Tewm2_XWfbGchcXw4g.woff2') format('woff2');
	unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlIa1YDtoarzwSXxTHggEXMw.woff2') format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlJbPFduIYtoLzwST68uhz_Y.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGMZXFz2iDKd7GJNSaxRYiSj3rGVtsTkPsbDajuO5ueQw.woff2') format('woff2');
	unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGKyGJhAh-RE0BxGcd_izyev3rGVtsTkPsbDajuO5ueQw.woff2') format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url('https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGMzFoXZ-Kj537nB_-9jJhlA.woff2') format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* ----------------------------------------------------------------------------------------- */
/* ----- Stijlen: General ------------------------------------------------------------------ */
/* ----------------------------------------------------------------------------------------- */

body {
	font-family: 'Source Sans Pro', Arial, Verdana, sans-serif;
	color: #333333;
	font-size: 4.4vh;
	line-height: 6.4vh;
	font-weight: 400;
}

h1 {
	color: #b21181;
	font-size: 5.6vh;
	line-height: 7.6vh;
	font-weight: 600px;
	margin: 0 0 2.8vh;
}

p, ul {
	margin: 0 0 2.8vh;
}

/* Broadcast */

.broadcast-info {
	position: absolute;
	top: 30px;
	left: 30px;
	width: 500px;
	color: #636363;
	padding: 15px 15px 0;
	background: rgba(255, 255, 255, 0.75);
	z-index: 9999999 !important;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	   		border-radius: 3px;
}

.broadcast-info label {
	float: left;
	width: 40%;
	color:  #000000;
	font-size: 18px;
	line-height: 32px;
	font-weight: 600;
	padding: 4px 0;
	margin: 0 0 15px;
}

.broadcast-info input {
	float: left;
	width: 60%;
	height: 40px;
	font-size: 18px;
	line-height: 32px;
	padding: 4px 15px;
	margin: 0 0 15px;
	background: #ffffff;
	border: 0;
}

.broadcast-error-message {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 500px;
	color: #636363;
	padding: 15px 15px 0;
	background: rgba(255, 255, 255, 0.75);
	z-index: 9999999 !important;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	   		border-radius: 3px;
}

.broadcast-error-message h2 {
	font-size: 18px;
	line-height: 24px;
	margin: 0 0 15px;
	color:  #000000;
}

.broadcast-error-message p {
	font-size: 16px;
	line-height: 22px;
	margin: 0 0 15px;
}

/* Window */

.window {
	position: fixed;
	width: 100%;
	height: 100%;
}

/* Timer */

.timer {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000 !important;
}

.timer.timer-vertical {
	width: 1vh;
	height: 91vh;
}

.timer.timer-horizontal {
	width: 100%;
	height: 1.6vh;	
}

.timer span {
	display: block;
	background: #b21181;
	overflow: hidden;
}

.timer.timer-vertical span {
	width: 100%;
	height: 50%;
}

.timer.timer-horizontal span {
	width: 50%;
	height: 100%;
}

/* Newsticker */

.ticker {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 9vh;
	background: #b21181;
	overflow: hidden;
	z-index: 1000 !important;
}

.ticker .ticker-inner {
	position: absolute;
	left: 0;
	width: 10000000px;
}

.ticker ul {
	position: relative;
	float: left;
	overflow: hidden;
	list-style-type: none;
	margin: 0;
}

.ticker ul li {
	float: left;
	color: #ffffff;
    font-size: 5vh;
    line-height: 8.5vh;
	padding: 0 20px;
}

.ticker ul li .icons {
	float: left;
	margin: 0 1.4vw 0 0;
	overflow: hidden;
}

.ticker ul li .icons img {
	height: 9vh;
}

/* Header */

.header {
	position: absolute;
	top: 0;
	left: 0;
	height: 15vh;
	width: 100vw;
	border-bottom: 1vh solid #b21181;
	z-index: 100;
}

/* Logo */

.logo {
	position: absolute;
	top: 1.5vh;
	left: 3.5vw;
	z-index: 100;
}

.logo img {
	height: 11vh;
	width: auto;
}

/* Clock */

.clock {
	position: absolute;
	top: 3.8vh;
	right: 2.7vw;
	color: #b21181;
	text-align: center;
	z-index: 100;
}

.clock .time {
	float: right;
	font-weight: 600;
	font-size: 6.4vh;
    line-height: 6.4vh;
}

.clock .date {
	float: right;
	font-size: 4vh;
    line-height: 6.4vh;
    margin: 0 2vw 0 0;
	text-transform: lowercase;
}

/* ----------------------------------------------------------------------------------------- */
/* ----- Slides ---------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

.slides {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.slides .slide {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #ffffff;
}

.slides .slide .slide-inner {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.slides .slide .slide-inner:after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	content: '';
	z-index: 9999999;
}

/* ----------------------------------------------------------------------------------------- */
/* ----- Default Slide --------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

.slides .slide.slide-default .slide-inner .content {
	position: absolute;
	top: 19.5vh;
	left: 3.5vw;
	/*right: 52.5vw;*/
	right: 3.5vw;
	bottom: 13.5vh;
	overflow: hidden;
}

.slides .slide.slide-default .slide-inner .content .image {
	float: right;
	width: 41vw;
	height: 50vh;
	margin: 4vh 1vw 4vh 4vw;
	overflow: hidden;
	z-index: 100;
	-webkit-box-shadow: 1vw 1vw 0 0 #e0e0e0;
	   -moz-box-shadow: 1vw 1vw 0 0 #e0e0e0;
	   		box-shadow: 1vw 1vw 0 0 #e0e0e0;
}

.slides .slide.slide-default .slide-inner .content .image.is-empty {
	display: none !important;
}

.slides .slide.slide-default .slide-inner .content .image img {
	width: auto;
	height: 100%;
	margin-left: 50%;
	transform: translateX(-50%)
}

/* ----------------------------------------------------------------------------------------- */
/* ----- Buienradar Slide ------------------------------------------------------------------ */
/* ----------------------------------------------------------------------------------------- */

.slides .slide.slide-buienradar .slide-inner .weather-content {
	position: relative;
	float: left;
	width: 50%;
	height: 100%;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content {
	position: absolute;
	top: 10%;
	left: 72px;
	right: 72px;
	bottom: 186px;
	overflow: hidden;
	color: #152b81;
	font-size: 45px;
	line-height: 70px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content h1 {
	color: #2a2a2a;
	padding: 0 0 0 200px;
	margin: 0 0 120px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul {
	position: relative;
	list-style-type: none;
	padding: 0;
	margin: 0 0 45px;
	border-top: 3px solid #e2e2e2;
	overflow: hidden;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li {
	width: 100%;
	padding: 24px 0;
	border-bottom: 3px solid #e2e2e2;
	overflow: hidden;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li strong,
.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li > span {
	float: left;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li strong {
	width: 40%;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon {
	width: 15%;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode {
	display: block !important;
	width: 70px;
	height: 70px;
	overflow: hidden;
	text-indent: -999999px;
	background: url('../images/slide-buienradar-icons.svg') no-repeat 0 0;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.a {
	background-position: 0 0;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.aa {
	background-position: -70px 0;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.b {
	background-position: 0 -70px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.bb {
	background-position: -70px -70px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.c {
	background-position: 0 -140px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.cc {
	background-position: -70px -140px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.d {
	background-position: 0 -210px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.dd {
	background-position: -70px -210px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.f {
	background-position: 0 -280px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.ff {
	background-position: -70px -280px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.g {
	background-position: 0 -350px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.gg {
	background-position: -70px -350px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.h {
	background-position: 0 -420px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.hh {
	background-position: -70px -420px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.i {
	background-position: 0 -490px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.ii {
	background-position: -70px -490px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.j {
	background-position: 0 -560px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.jj {
	background-position: -70px -560px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.k {
	background-position: 0 -630px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.kk {
	background-position: -70px -630px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.l {
	background-position: 0 -700px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.ll {
	background-position: -70px -700px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.m {
	background-position: 0 -770px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.mm {
	background-position: -70px -770px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.n {
	background-position: 0 -840px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.nn {
	background-position: -70px -840px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.o {
	background-position: 0 -910px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.oo {
	background-position: -70px -910px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.p {
	background-position: 0 -980px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.pp {
	background-position: -70px -980px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.q {
	background-position: 0 -1050px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.qq {
	background-position: -70px -1050px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.r {
	background-position: 0 -1120px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.rr {
	background-position: -70px -1120px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.s {
	background-position: 0 -1190px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.ss {
	background-position: -70px -1190px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.t {
	background-position: 0 -1260px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.tt {
	background-position: -70px -1260px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.u {
	background-position: 0 -1330px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.uu {
	background-position: -70px -1330px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.v {
	background-position: 0 -1400px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.vv {
	background-position: -70px -1400px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.w {
	background-position: 0 -1470px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .icon .iconcode.ww {
	background-position: -70px -1470px;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .temprature {
	width: 25%;
}

.slides .slide.slide-buienradar .slide-inner .weather-content .content ul li .wind {
	width: 20%;
	text-align: right;
}

.slides .slide.slide-buienradar .slide-inner .weather-radar {
	position: relative;
	float: right;
	width: 50%;
	height: 100%;
}

.slides .slide.slide-buienradar .slide-inner .weather-radar img {
	position: absolute;
	width: 100%;
	height: 100%;
}