/* Stylesheet for v.v. Opende (narrowcasting reset). (c) Oetzie.nl. All rights reserved. */

section, article, aside, details, figcaption, figure, footer, header, hgroup, nav {
	display: block;
	position: relative;
}

body, form, p, ul, ol, table, h1, h2, h3, h4, h5, h6, figure, iframe, blockquote, dl {
	padding: 0;
	margin: 0;
}

html {
	-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
}

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	   		box-sizing: border-box;
}

img, iframe {
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
	   		box-sizing: content-box;
}

img {
	display: block;
	-ms-interpolation-mode: bicubic;
}

a img {
	border: 0;
}

input, textarea, select, button {
	display: block;
	outline: none;
	-webkit-appearance: none;
	   -moz-appearance: none;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		    box-sizing: border-box;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
		    border-radius: 0;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	   		box-shadow: none;
}

input[type='radio'] {
	-webkit-appearance: radio;
	   -moz-appearance: radio;
}

input[type='checkbox'] {
	-webkit-appearance: checkbox;
	   -moz-appearance: checkbox;
}

input[type='radio'],
input[type='checkbox'] {
	width: auto !important;
	height: auto !important;
}

select {
	cursor: pointer;
}

select::-ms-expand {
    display: none;
}

label:after {
	display: block;
    clear: both;
    content: '.';
    height: 0;
    overflow: hidden;
}

label input[type='radio'],
label input[type='checkbox'] {
	float: left;
	margin-right: 8px;
}

a, button {
	cursor: pointer;
}

p, blockquote, ul, ol, h1, h2, h3, h4, h5, h6, form, table, section, aside, article, dl {
	margin: 0 0 15px; 
}

article {
	overflow: hidden;
}

ul, ol {
	padding: 0 0 0 15px;
}

ul ul, ol ol {
	margin: 0;
}

table {
	width: 100%;
	border: none;
	border-collapse: separate;
	border-spacing: 0;
}

table tr th, table tr td {
	padding: 8px;
	text-align: left;
}

table tr:nth-child(odd) td {
	background: #f2f2f2;
}

table tr th {
	font-weight: 600;
}

dl:after {
	display: block;
    clear: both;
    content: '.';
    height: 0;
    overflow: hidden;
}

dl dt, dl dd {
	float: left;
	display: block;
	padding: 8px;
	margin: 0;
}

dl dt {
	clear: left;
	width: 100%;
	padding: 12px 60% 12px 12px;
	margin: 0 -60% 0 0;
	font-weight: 600;
}

dl .odd {
	background: #f2f2f2;
}

dl dd {
	width: 100%;
	padding: 12px 12px 12px 40%;
	margin: 0 0 0 -40%;
}

dl dt > span, dl dd > span {
	position: relative;
	z-index: 1;
}