// Breadcrumbs styling
.breadcrumb {
    background-color: $white-dark;

    @include  breakpoint(mobile) {
        display: none;
    }

    &--container {
        @include make-xs-column(12);
    }

    &--list {
        list-style: none;
        margin: 0;
        padding: 0;

        &--item {
            padding: 10px 5px 10px 0;
            display: inline-block;
            position: relative;

            a {
                display: inline-block;
                color: $black;
            }
        }

        &--item::after {
            content: '>';
            display: inline-block;
            padding: 10px 5px;
        }

        &--item:last-of-type::after {
            display: none;
        }

    }
}
