.side-buttons {
    position: fixed;
    right: 0;
    top: 300px;
    z-index: 103;

    @include breakpoint(mobile) {
        display: none;
    }

    a {
        width: 45px;
        height: 45px;
        padding: 5px 0;
        color: $white;
        background-color: $black;
        font-size: em(23);
        text-align: center;
        display: block;
    }

}

.btn-top {
    display: none;
    position: fixed;
    right: 50px;
    bottom: 200px;
    background-color: $grey;
    color: $white;
    font-size: em(23);
    z-index: 103;
    text-align: center;
    width: 45px;
    height: 45px;
    padding: 5px 0;

    @include breakpoint(mobile) {
        display: none;
    }

}

.btn__big {
    font-size: em(20);
    padding: 15px;
}

.btn__center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    border-radius: 0;
    border: 0;
    padding: 9px 7px;
    display: inline-block;

    &:hover {
        background-color: $black;
    }

    &:focus {
        background-color: $black;
        box-shadow: 0 0 5px 0 $blue-dark;
    }

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    &.btn-primary {
        background-color: $customer-color;
        color: $white;
        border-radius: 0;
        border: 0;
        text-align: center;
    }

    &.btn-secondary {
        background-color: $grey-dark;
    }

    &.btn-default {
        background-color: $black;
    }

    &.btn-success {
        background-color: $green;
    }

    &.btn-error {
        background-color: $burdau;
    }

    &--search {
        background: url('../../img/search.svg') no-repeat center $black;
        display: inline-block;
        position: relative;
        text-indent: -9999px;
        height: 40px;
        width: 40px;
        cursor: pointer;
        border-radius: 0;
        float: right;

        &:hover,
        &:focus {
            background-color: $customer-color;
        }
    }

    &.btn-block {
        display: block;
        width: 100%;
    }

    &.btn-effect-1 {
        -webkit-transition: background-color .8s;
        -moz-transition: background-color .8s;
        -o-transition: background-color .8s;
        transition: background-color .8s;
        overflow: hidden;

        &:hover {
            background-color: $blue-dark;
            text-decoration: none;
            -webkit-transition: background-color .8s;
            -moz-transition: background-color .8s;
            -o-transition: background-color .8s;
            transition: background-color .8s;
        }

    }

    &.btn-effect-3 {
        position: relative;
        overflow: hidden;
        background: $white;
        color: $black;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background: $grey-dark;
            opacity: 1;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .3s;
            pointer-events: none;
        }

        &::before {
            top: 0;
            left: 2px;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            transform: rotate(90deg);
            -webkit-transform-origin: 0 0;
            -moz-transform-origin: 0 0;
            transform-origin: 0 0;
        }

        &::after {
            z-index: 1;
            right: 2px;
            bottom: 0;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            transform: rotate(90deg);
            -webkit-transform-origin: 100% 0;
            -moz-transform-origin: 100% 0;
            transform-origin: 100% 0;
        }

        &:hover,
        &:focus {
            text-decoration: none;
        }

        &:hover::before,
        &:focus::before {
            left: 50%;
            -webkit-transform: rotate(0deg) translateX(-50%);
            -moz-transform: rotate(0deg) translateX(-50%);
            transform: rotate(0deg) translateX(-50%);
        }

        &:hover::after,
        &:focus::after {
            right: 50%;
            -webkit-transform: rotate(0deg) translateX(50%);
            -moz-transform: rotate(0deg) translateX(50%);
            transform: rotate(0deg) translateX(50%);
        }

    }

    &.btn-effect-2 {
        position: relative;
        overflow: hidden;
        background: none;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $grey-dark;
            z-index: -1;
        }

        &:hover {
            text-decoration: none;
        }

        &:hover::after {
            height: 260%;
            opacity: 1;
        }

        &:active::after {
            height: 400%;
            opacity: 1;
        }

        &::after {
            content: '';
            width: 100%;
            height: 0;
            top: 50%;
            left: 50%;
            background: $black;
            opacity: 0;
            -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
            -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
            -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
        }

    }

    &.btn-effect-4 {
        position: relative;
        background: $blue-dark;
        color: $white;

        &::before,
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 3px solid $black;
            content: '';
            -webkit-transition: -webkit-transform .3s, opacity .3s;
            -moz-transition: -moz-transform .3s, opacity .3s;
            transition: transform .3s, opacity .3s;
        }

        &::after {
            z-index: 1;
            border-color: $blue;
            opacity: 0;
            -webkit-transform: translateY(-7px) translateX(6px);
            -moz-transform: translateY(-7px) translateX(6px);
            transform: translateY(-7px) translateX(6px);
        }

        &:hover,
        &:focus {
            text-decoration: none;
        }

        &:hover::before,
        &:focus::before {
            opacity: 0;
            -webkit-transform: translateY(5px) translateX(-5px);
            -moz-transform: translateY(5px) translateX(-5px);
            transform: translateY(5px) translateX(-5px);
        }

        &:hover::after,
        &:focus::after {
            opacity: 1;
            -webkit-transform: translateY(0) translateX(0);
            -moz-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
        }

    }

    &.btn-effect-5 {
        position: relative;
        background: $grey-light;
        color: $black;

        &::before {
            content: '';
            position: absolute;
            z-index: 2;
            left: 50%;
            right: 50%;
            bottom: 0;
            background: $blue;
            height: 4px;
            -webkit-transition-property: left, right;
            transition-property: left, right;
            -webkit-transition-duration: .3s;
            transition-duration: .3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        &:hover,
        &:focus {
            text-decoration: none;
        }

        &:hover::before,
        &:focus::before,
        &:active::before {
            left: 0;
            right: 0;
        }

    }

}
