.form-control {
    border-radius: 0;
    height: 40px;

    &__select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-indent: .01px;
        text-overflow: '';
        border-radius: 0;
        box-shadow: none;
        background: url('../../img/select-arrows.png') no-repeat 95% center transparent;
        background-position: right 10px center;
        cursor: pointer;

        @include breakpoint(mobile) {
            background-position: 95% center;
        }
    }

    &.auto-size {
        width: auto;
        padding-right: 30px;
        display: inline-block;
        margin-right: 10px;

        @include breakpoint(ptablet) {
            width: 46%;

            &.month-right {
                margin-right: 0;
            }
        }
    }

    &.year-select {
        width: auto;
        min-width: 90px;
        padding-right: 30px;
        display: inline-block;

        @include breakpoint(ptablet) {
            display: block;
            width: 100%;
            margin-top: 15px;
        }
    }
}

// Webkit
::-webkit-input-placeholder {
    color: $grey;
    font-style: italic;
}

// Firefox 4-18
::-moz-placeholder {
    color: $grey;
    font-style: italic;
}

// IE10+
:-ms-input-placeholder {
    color: $grey;
    font-style: italic;
}

.error {
    display: none;
}

.has-error .error {
    display: block;
    padding: 10px 15px;
    background-color: $burdau;
    color: $white;
    font-weight: 600;
}

.lt-ie10 .form-control {
    &__select {
        background-image: none;
    }
}

select::-ms-expand {
    display: none;
}

select option[disabled] {
    display: none;
}

::-moz-selection {
    background: $white;
}

::selection {
    background: $white;
}

@-webkit-keyframes icon-beat {
    0% {
        @include transform(scale(2));
    }

    100% {
        @include transform(scale(1));
    }
}

@keyframes icon-beat {
    0% {
        @include transform(scale(2));
    }

    100% {
        @include transform(scale(1));
    }
}

label {
    display: block;
    position: relative;
    padding: 0;
    line-height: 28px;
    font-weight: normal;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    i {
        display: inline-block;
        height: 25px;
        position: relative;
        top: 3px;
        font-style: normal;
        color: $grey;
    }

    span {
        display: inline-block;
        margin-left: 5px;
        line-height: 25px;
        color: $grey;
    }
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

input[type="radio"] + i::before,
input[type="checkbox"] + i::before {
    font-family: 'FontAwesome', sans-serif;
    font-size: 20px;
    height: 25px;
    width: 25px;
    display: inline-block;
}

input[type="radio"]:checked + i,
input[type="checkbox"]:checked + i {
    position: relative;
    -webkit-animation: icon-beat .1s ease;
    animation: icon-beat .1s ease;
}

input[type="radio"]:checked + i + span,
input[type="checkbox"]:checked + i + span {
    @include transition(all .1s ease);
}

input[type="radio"] + i::before {
    content: '\f10c';
}

input[type="radio"]:checked + i::before {
    content: '\f111';
}

input[type="radio"]:checked + i + span,
input[type="radio"]:checked + i::before {
    color: $black;
}

input[type="checkbox"] + i::before {
    content: '\f096';
}

input[type="checkbox"]:checked + i::before {
    content: '\f046';
}

input[type="checkbox"]:checked + i + span,
input[type="checkbox"]:checked + i::before {
    color: $black;
}
