.navigation {
    &__corner-fullscreen {
        height: 100vh;
        overflow: hidden;

        .menu-toggle {
            display: none;
            cursor: pointer;
            float: left;
            padding: 6px 7px 0;
            margin: 0;
            height: 50px;
            width: 50px;
            background-color: $white;

            @include breakpoint(mobile) {
                display: inline-block;
            }

            @include breakpoint(ptablet) {
                display: inline-block;
            }

            .one,
            .two,
            .three,
            .four {
                width: 30px;
                height: 4px;
                background: $customer-color;
                backface-visibility: hidden;
                border-radius: 5px;
                margin: 6px auto;
            }

            .four {
                @include transform(translateY(-20px));
            }

            .one,
            .three {
                @include transition(transform .15s, opacity 0s .15s);
            }

            .two,
            .four {
                @include transition(transform .15s .15s);
            }

        }

        .nav-toggle {
            position: relative;
            z-index: 1001;

            .menu-toggle {
                background-color: transparent;
                position: relative;
            }

            .menu-title {
                display: none;
            }
        }

        .nav-circle {
            position: absolute;
            top: 9px;
            left: 15px;
            height: 50px;
            width: 50px;
            display: none;

            @include breakpoint(ptablet) {
                display: block;
            }

            @include breakpoint(mobile) {
                display: block;
            }

        }

        .circle {
            @include transition(height .5s, width .5s);
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            background-color: $grey-transparent;
            width: 55px;
            height: 55px;
            z-index: 999;
        }

        .main-navigation__header {

            @include breakpoint(ptablet) {
                @include transition(height .4s, visibility .5s);
                position: absolute;
                top: 0;
                left: 0;
                height: 0;
                width: 100%;
                overflow-y: scroll;
                padding: 10px 0 40px;
                margin: 0;
                z-index: 1000;
                visibility: hidden;

                ul {
                    margin-top: 40px;
                }

            }

            @include breakpoint(mobile) {
                @include transition(height .5s, visibility .5s);
                position: absolute;
                top: 0;
                left: 0;
                height: 0;
                width: 100%;
                overflow-y: scroll;
                padding: 10px 0 40px;
                margin: 0;
                z-index: 1000;
                visibility: hidden;

                ul {
                    margin-top: 40px;
                }

            }

        }

        &.on {
            .nav-toggle.one {
                @include transform(translateY(10px));
                @include transition(transform .15s, opacity 0s .15s);
                opacity: 0;
            }

            .nav-toggle.two {
                @include transform(rotate(45deg));
            }

            .nav-toggle.three {
                @include transform(translateY(-10px));
                @include transition(transform .15s, opacity 0s .15s);
                opacity: 0;
            }

            .nav-toggle.four {
                @include transform(translateY(-20px) rotate(-45deg));
            }

            .circle {
                width: 2000px;
                height: 2000px;

                @include breakpoint(ptablet) {
                    width: 3000px;
                    height: 3000px;
                }
            }

            .main-navigation__header {

                @include breakpoint(ptablet) {
                    @include transition(height .5s, visibility .5s);
                    visibility: visible;
                    height: 100vh;
                }

                @include breakpoint(mobile) {
                    @include transition(height .5s, visibility .5s);
                    visibility: visible;
                    height: 100vh;
                }

            }
        }
    }
}
