.navigation__slide-down .menu-toggle {
    display: none;
    cursor: pointer;
    float: left;
    padding: 6px 7px 0;
    margin: 0;
    height: 50px;
    width: 50px;
    background-color: $white;

    @include breakpoint(mobile) {
        display: inline-block;
    }

    @include breakpoint(ptablet) {
        display: inline-block;
    }

    .one,
    .two,
    .three {
        @include transition(opacity .3s, transform .3s);
        width: 30px;
        height: 4px;
        background: $customer-color;
        margin: 6px auto;
        backface-visibility: hidden;
        border-radius: 5px;
    }

    .four {
        display: none;
    }

}

.navigation__slide-down.on .nav-toggle {

    .one {
        @include transform(rotate(45deg) translate(5px, 5px));
    }

    .two {
        opacity: 0;
    }

    .three {
        @include transform(rotate(-45deg) translate(9px, -9px));
    }

}

.navigation__slide-down .main-navigation__header {

    @include breakpoint(ptablet) {
        @include transition(max-height .8s);
        float: left;
        width: 100%;
        padding: 10px 0;
        margin-top: 0;
        max-height: 0;
        overflow: hidden;
    }

    @include breakpoint(mobile) {
        @include transition(max-height .8s);
        float: left;
        width: 100%;
        padding: 10px 0;
        margin-top: 0;
        max-height: 0;
        overflow: hidden;
    }

}

.navigation__slide-down.on .main-navigation__header {

    @include breakpoint(ptablet) {
        @include transition(max-height 1.2s);
        max-height: 999px;
    }

    @include breakpoint(mobile) {
        @include transition(max-height 1.2s);
        max-height: 999px;
    }

}
