// Navigation

.main-navigation {

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
        text-align: center;
    }

    li {
        display: inline-block;
        margin: 0 10px;
        padding: 0;

        @include breakpoint(tablet) {
            margin: 0;
        }

        &.has-submenu {
            @include breakpoint(ptablet) {
                position: relative;

                > span {
                    display: block;
                }

            }

            @include breakpoint(mobile) {
                position: relative;

                > a {
                    width: 80%;
                    margin: 0 auto;
                }

                > span {
                    display: block;
                }

            }

            > span {
                font-size: em(20);
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                height: 44px;
                line-height: 44px;
                width: 44px;
                padding-left: 2px;
                color: $black;
            }
        }

        ul {
            display: none;
        }

        &.active ul {
            display: block;
        }

        &.active a {
            border-color: $burdau;
        }

        li a {
            display: block;
            text-align: center;
            font-size: em(16);
            padding: 6px 5px 7px;
            font-weight: 600;
            color: $black;
            text-transform: uppercase;

            &:hover {
                color: $customer-color;
                text-decoration: none;
            }

        }

    }

    &.main-navigation__header {
        float: right;
        margin-top: 60px;
        text-align: center;

        .circle {
            height: 0;
            width: 0;
        }

        ul li {
            margin: 0 5px;

            @include breakpoint(ptablet) {
                display: block;
            }

            @include breakpoint(mobile) {
                display: block;
            }

        }

        .search-nav {
            @include breakpoint(ptablet) {
                display: none;
            }

            @include breakpoint(mobile) {
                display: none;
            }
        }

    }

    &.main-navigation__footer {
        display: block;
        text-align: center;
        padding: 10px 0 0;

        ul li {
            padding: 0 5px;

            &:first-of-type {
                padding: 0 5px 0 0;
            }

            a {
                color: $black;
                font-size: em(14);

                @include breakpoint(ptablet) {
                    padding: 5px 0;
                }

                @include breakpoint(mobile) {
                    padding: 3px 0;
                }

            }

        }

    }

}
