/* ----------------------------------------------------------------------------------------- */
/* ----- Bitbucket Slide ------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

.slide-bitbucket {
    left: 20vw;
}

.slide-fullscreen .slide-bitbucket {
    left: 0;
}

.slide-ticker .slide-bitbucket {
    bottom: 8.5vh;
}

.slide-bitbucket .content {
    height: 100%;
    padding: 4vh 3vw;
    overflow: hidden;
}

.slide-bitbucket .table .table-head,
.slide-bitbucket .table .table-body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.slide-bitbucket .table .table-head {
    font-weight: 600;
    border-bottom: 2px solid #2a2c33;
}

.slide-bitbucket .table .table-row {
    position: relative;
    overflow: hidden;
    border-bottom: 2px solid #ccd6dc;
}

.slide-bitbucket .table .table-column {
    float: left;
    display: block;
    padding: 1.5vh 2vw;
}

.slide-bitbucket .table .table-column.table-column-name {
    width: 56%;
}

.slide-bitbucket .table .table-column.table-column-commits,
.slide-bitbucket .table .table-column.table-column-score {
    width: 22%;
}

.slide-bitbucket .table .table-row:before {
    position: absolute;
    top: 0.3vh;
    left: 1vw;
    display: block;
    width: 3.8vh;
    height: 3.8vh;
    content: '';
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
}

.slide-bitbucket .table .table-row:nth-child(1):before {
    background-image: url('images/crown-1.svg');
}

.slide-bitbucket .table .table-row:nth-child(2):before {
    background-image: url('images/crown-2.svg');
}

.slide-bitbucket .table .table-row:nth-child(3):before {
    background-image: url('images/crown-3.svg');
}

.slide-bitbucket .icon {
    display: inline-block;
    width: 3vh;
    height: 3vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.slide-bitbucket .rate-success .icon {
    background-image: url('images/success.svg');
}

.slide-bitbucket .rate-failed .icon {
    background-image: url('images/failed.svg');
}

.slide-bitbucket .rate-success {
    color: #9abc29;
}

.slide-bitbucket .rate-failed {
    color: #bc1020;
}