.footer {
    background-color: $white-off;
    padding: 0 0 10px;

    &--box {
        display: block;
        min-height: 160px;

        @include breakpoint(ptablet) {
            min-height: 120px;
        }

        @include breakpoint(mobile) {
            height: auto;
            min-height: 1px;
            padding: 10px 0;
            text-align: center;
        }

        .list {
            @include breakpoint(mobile) {
                display: none;
            }
        }

    }
}

.footer-top {
    background-color: $grey-light;
    display: block;
    padding: 10px 0;

    @include breakpoint(mobile) {
        padding: 0;
    }

}
