// List styling

.list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        display: block;

        a {
            display: block;
            color: $black;
        }
    }

    &--logo {
        display: block;
        text-align: center;
        padding: 20px 0 0;

        li {
            display: inline-block;
            position: relative;
            margin: 0 5px;

            @include breakpoint(ptablet) {
                margin: 0 5px 10px;
            }

            @include breakpoint(mobile) {
                margin: 0 5px 10px;
            }

        }

        span {
            position: absolute;
            width: 100%;
            text-align: center;
            top: 8px;
            left: 5px;
            font-weight: 700;
        }

    }

}

.tag {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        display: inline-block;
        margin-right: 5px;

        span {
            background-color: $grey-light;
            display: block;
            padding: 5px 10px;
        }
    }

}

.contact-options {
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        color: $customer-color;
        margin: 0 5px;

        a {
            font-size: em(16);
            display: block;
            padding: 10px 15px;
            border: 1px solid;
        }
    }

}

.sisea-results-list .search-results {
    list-style: none;
    padding-left: 0;

    li {
        margin-bottom: 30px;
    }

    .sisea-highlight {
        font-weight: bold;
    }

}
