// All variables used in project; fonts, colors, basic and images

// Fonts

//-- typo:start --//
$text-font: 'Open Sans', sans-serif; //300, 700
$navigation-font: 'Titillium Web', sans-serif;  //300, 700
//-- typo:end --//

$base-font-size: 14;
$text-color: #464646;

//BEM like color naming http://www.juliecameron.com/blog/2013/11/06/bem-naming-for-sass-color-variables-what1/
//-- colors:start --//
$white: #fff;
$white-off: #e6e6e6;
$white-dark: #eaeaea;
$black: #222; // ha!
$black-trans: rgba(0, 0, 0, .7);
$grey: #9c9b9b;
$grey-transparent: transparentize($grey, .2);
$grey-light: #c8c8c8;
$grey-dark: #727272;
$green-light: #80ba27;
$orange: #e9500e;
$orange-dark: #c1420c;
$burdau: #9b0058;
$burdau-dark: #790044;
$blue: #00a6aa;
$blue-dark: #00898d;
$green: #80ba27;
$green-dark: #73a624;
$brown: #b38d80;
$brown-dark: #93756a;
$customer-color: #227db8;
$email-color: #0a88ff;
$email-color__hover: #006ed6;
$facebook-color: #006ed6;
$facebook-color__hover: #006ed6;
$instagram-color: #125688;
$instagram-color__hover: #0c3a5b;
$pinterest-color: #b81621;
$pinterest-color__hover: #df1c31;
$youtube-color: #df1c31;
$youtube-color__hover: #b21627;
$twitter-color: #26c4f1;
$twitter-color__hover: #0eaad6;
$linkedin-color: #007bb6;
$linkedin-color__hover: #005983;
$googleplus-color: #b30016;
$googleplus-color__hover: #5d0e18;
//-- colors:end --//

// Quick links
$base-image-url: '/assets/img';

// Images
$logo-img: '/assets/img/logo-prototype.gif';
